<!-- Lien d evitement -->
<a  class="evitement" href="javascript:void(0);" (click)='skipToMainContent()'>Aller au contenu</a>

<!-- Toolbar -->
<header role="banner" >
  <nav role="navigation" arial-label="Menu de navigation" class="toolbar navbar navbar-dark navbar-expand-lg">
    <img
    width="40"
    alt="Logo"
    src="../assets/logo.png"
    id="logo"
    />
    <span id="titre">{{title}}</span>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
      <span>
        <a class="nav-link" aria-label="Accessibilité dans les jeux" routerLink="/jeux">
          Jeux
        </a>
      </span>
      <hr/>
      <span>
        <a class="nav-link" aria-label="Accessibilité dans les consoles"  routerLink="/consoles">
          Consoles
        </a>
      </span>
      <hr/>
      <span >
        <a class="nav-link" aria-label="Accessibilité des périphériques de jeux" routerLink="/peripheriques">
          Périphériques
        </a>
      </span>
      <hr/>
      <span>
        <a class="nav-link" aria-label="Recommandations d'accessiblité pour les jeux vidéos" routerLink="/recommandations">
          Recommandations
        </a>
      </span>
      <hr/>
      <span>
        <a class="nav-link" routerLink="/avis">
          Donnez nous votre avis !
        </a>
      </span>
    </div>
  </nav>



</header>

<main class="content" role="main">
  <a id="contenu" aria-hidden="true" #content tabindex="-1"></a>
<router-outlet></router-outlet>
</main>

<footer role="contentinfo" class="fixed-bottom">

  <div class="footer-bottom">
    <ul>
      <li><a routerLink="/plan" class="menu-item">Plan du site</a> </li>
      <li><a routerLink="/accessibilité">Accessibilité</a> </li>
    </ul>
  </div>

</footer>
