/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.sous-navigation {
  height: 100%;
  float: left;
  background: #333333;
}

.nav-content > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-content > ul > li {
  padding: 15px 0;
}
.mat-divider{
  width: 80%;
  border-color : rgba(110, 110, 110, 0.747);
  margin-left: auto !important;
  margin-right: auto !important;
}

.nav-button{
  height: 100px;
  width: 200px;
  color: white;
}

