<section>
  <nav role="navigation" aria-label="Fil d'Ariane">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/recommandations">Recommandations </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{{typeRecommandation}}</li>
    </ol>
  </nav>

  <div class="recommandation-content" *ngIf="typeRecommandation == 'Général'">

    <h1>Recommandations d'accessibilités générales</h1>
    <h2>Offrir un large choix de difficultés de jeu</h2>

    <p>
      Permettre de modifier le niveau des IA, la vitesse des ennemis, la difficulté des enigmes,.. et eviter
      de catégoriser les niveaux de difficultés inférieurs par des termes qui peuvent paraître rabaissant pour
      l'utilsateur.
      <br/>
      Par exemple, le jeu <i>Shadow of the Tomb Raider</i> permet un choix de difficultés sur plusieurs
      élément précis du gameplay.
    </p>

    <img src="assets/shadowOfTheTombRaider.png" alt=""/>

    <mat-divider aria-hidden="true"></mat-divider>

    <h2>Afficher les détails des fonctionnalités accessibles du jeu</h2>

    <p>
      N'étant pas encore un standard, certains joueurs n'ont pas connaissance des fonctionnalités d'accessibilité présent dans un jeu.
      Il est donc nécéssaire de les informer sous forme de menu affiché avant le début du jeu ou bien d'informations lors des écrans de chargement par exemple.
      <br/>
      Le jeu <i>Battlefield Harline</i> a par exemple inclut dans l'écran de chargement une information concerant le mode daltonien
    </p>

    <img src="assets/hardlinetips.png" alt=""/>

    <mat-divider aria-hidden="true"></mat-divider>

    <h2>Permettre de sauvegarder les paramètres selon plusieurs profils </h2>

    <p>
      Plusieurs joueurs peuvent être amener à utiliser une console ou un jeu. Chaque joueur a ses propres besoins et préférences de réglages. Sauvegarder
      plusieurs profils est nécessaire pour éviter de devoir modifier ces paramètres à chaque fois.
      <br/>
      Certains jeux comme <i>World of Warcraft</i> sauvegarde les préférences de jeu par profils et non par machine.
    </p>

    <img src="assets/world-of-warcraft-login.jpg" alt=""/>

  </div>


  <div class="recommandation-content" *ngIf="typeRecommandation == 'Moteur'">

    <h1>Recommandations d'accessibilités motrices</h1>
    <h2>Eviter ou donner une alternative pour le maintien d'un bouton enfoncé</h2>

    <p>
      Maintenir un bouton enfoncé peut être douloureux et fatiguant pour certains joueurs. Dans la mesure du possible, il
      faut éviter d'inclure ce type de controles mais dans le pire des cas donner une alternative au joueur.
      <br/>
      Le jeu <i>The Long Dark</i> propose par exemple l'alternative d'appuyer seulement une fois au lieu de garder le bouton enfoncé.
    </p>

    <img src="assets/longdarkinteraction.png" alt="" style="width:80%"/>

    <mat-divider aria-hidden="true"></mat-divider>

    <h1>Permettre de modifier la taille de l'interface</h1>

    <p>
      En plus des différences de taille d'écran possible, permettre de modifier la taille d'une interface est essentiel pour les personnes
      ayant du mal à voir les petits éléments présents. De plus, certains joueurs préfère rétricir certains éléments pour laisser plus de place au gameplay.
      <br/>
      Par exemple, le jeu <i>Street Fighter 5</i> propose de cacher certains éléments de l'interface de jeu ou de les déplacer.
    </p>

    <img src="assets/street-fighter-5.png" alt=""/>

    <mat-divider aria-hidden="true"></mat-divider>

    <h2>Permettre d'ajuster la vitesse du jeu</h2>

    <p>
      Pouvoir régler la vitesse de jeu est intéréssant pour les personnes agées souhaitant jouer au jeu ou lors de troubles de réactivités.
      <br/>
      Voici un exemple de réglage de la vitesse dans le jeu <i>Celeste 3</i>.
    </p>

    <img src="assets/celeste3.jpg" alt=""/>

  </div>

  <div class="recommandation-content" *ngIf="typeRecommandation == 'Cognitive'">

    <h1>Recommandations d'accessibilités cognitives</h1>
    <h2>Permettre de modifier la couleur du texte et le contraste</h2>

    <p>
      Les contrastes élévés peuvent poser problèmes aux personnes qui ont certaines formes de dyslexie. Certaines
      combinaisons de couleur fonctionnent mieux selon la forme. La meilleure solution est de proposer un choix libre de couleur de texte et de fond.
      <br/>
      Le jeu <i>Fallout 3</i> propose une interface permettant de régler la couleur du texte ainsi que son opacité.
    </p>

    <img src="assets/fallout-3-pip-boy-settings.png" alt=""/>


    <mat-divider aria-hidden="true"></mat-divider>

    <h2>Surligner les mots importants</h2>

    <p>
      Beaucoup de textes peut être difficle à comprendre surtout pour les personnes ayant des difficultés de lecture. Certaines
      personnes cherchent également les informations importantes sans lire intégralement le texte. Surligner les mots important est donc nécessaire pour
      mettre en évidence les mots clés. De plus il faut éviter de faire des phrases trop longues pour que celle-ci soit facilement compréhensible par le joueur.
      <br/>
      Le jeu <i>Assassins Creed</i> Syndicate indique les mots impportants en changeant simplement la couleur du texte.
    </p>

    <img src="assets/acstext.png" alt=""/>


    <mat-divider aria-hidden="true"></mat-divider>

    <h2>Permettre d'activer/désactiver les périphériques haptiques</h2>

    <p>
      Les périphériques haptiques sont très utiles en terme d'accessibilité mais peuvent être incomfortable et même causer des douleurs pour certaines personnes.
      Il faut donc au minimum permettre au joueur de l'activer/désactiver mais au mieux pouvoir régler l'intensité de celui-ci.
      <br/>
      C'est ce que propose par exemple le jeu <i>Forza Horizon 4</i>.
    </p>

    <img src="assets/forza-vibration.jpg" alt=""/>

  </div>

  <div class="recommandation-content" *ngIf="typeRecommandation == 'Vision'">

    <h1>Recommandations d'accessibilités visuelles</h1>
    <h2>Permettre de modifier la taille de la police du texte</h2>

    <p>
      Avoir une bonne taille de police par défaut est nécessaire cependant il n'existe aucune taille unique que tout le monde puisse lire. En fonction
      des différences au niveau de la taille d'écran ou encore des déficences visuelles, pouvoir choisir une taille de police est beaucoup plus efficace.
      <br/>
      C'est ce que propose par exemple, le jeu <i>Warlock of Firetop Mountain</i>. En plus de choisir la taille de police, on peut également modifier l'espacement entre les lignes ce qui améliore la lisibilité du texte.
    </p>

    <img src="assets/warlock-of-firetop-mountain-typography.png" alt=""/>

    <mat-divider aria-hidden="true"></mat-divider>

    <h2>Montrer que les éléments interactifs sont interactifs</h2>

    <p>
      Certains joueurs peuvent avoir des problèmes pour distinguer les élements interactifs présents, il est donc important de mettre ces éléments en évidence.
      Cela peut se faire par des changements de styles et/ou contrastes.
      <br/>
      Comme le fait par exemple, le jeu <i>Silence</i>.
    </p>

    <img src="assets/silencehints.png" alt=""/>

    <mat-divider aria-hidden="true"></mat-divider>

    <h2>Permettre de modifer le contraste</h2>

    <p>
      Les problèmes de constraste ne concerne pas seulement les situations de déficiences visuelles mais également lors de l'exposition du soleil sur l'ecran ou encore lors du mode economie d'énergie de la console.
      Permettre de modifer le contraste est donc important pour le confort du joueur. Permettre de modifier les assets, en mettant par exemple des fonds plus sombres est également une bonne pratique en terme d'accessibilité.
      <br/>
      Le jeu, <i>Street Fighter 4</i> permet par exemple, de remplacer les animations de fond par un fond noir qui augmente le contraste.
    </p>

    <img src="assets/sf4-bg.png" alt=""/>


  </div>

  <div class="recommandation-content" *ngIf="typeRecommandation == 'Son'">

    <h1>Recommandations d'accessibilités auditives</h1>
    <h2>Mettre des sous-titres pour toutes les conversations importantes</h2>

    <p>
      Les sous-titres sont utilisés par beaucoup de joueurs et pour de nombreuses raisons comme une déficience auditive, des nuisances sonores environnantes ou encore du materiel defecteux.
      Les conversations ou élements textuelles important pour l'avancée du jeu doivent être sous-titrés pour garantir
      une bonne expérience au joueur. De plus, les sous-titres doivent être lisible et contenir des phrases courtes.
      <br/>
      Aujourd'hui cela est inclut dans la plupart des jeux mais voici l'exemple du jeu <i>Marvel’s Spider-Man</i> dont les sous-titres sont bien intégrés.
    </p>

    <img src="assets/spiderman_subtitles.jpg" alt=""/>

    <mat-divider aria-hidden="true"></mat-divider>

    <h2>Mettre des indications pour les sons de fond importants </h2>

    <p>
      Pour permettre a tous les joueurs la même expérience, mettre des indications visuelles lors d'effets sonores est important. Cela permet aux joueurs
      qui jouent sans son d'être dans l'ambiance.

      <br/>
      Ubisoft inclut ces pratiques comme par exemple dans le jeu <i>Far Cry: New Dawn</i>. En plus de simple indications, la provenance des sons est également indiquées.
    </p>

    <img src="assets/far-cry-new-dawn-subtitles.jpg" alt=""/>

    <mat-divider aria-hidden="true"></mat-divider>

    <h2>Permettre de modifier le volume des effets sonores, de la musique de fond et des conversations</h2>

    <p>
      Le joueur doit pouvoir modifier indépendamment le volume de la musique d'ambiance, des effets sonores ainsi que des conversations. Cela est
      d'autant plus nécessaire pour les joueurs ayant une déficience affectant la perception des fréquences sonores.
      <br/>
      Une interface simple suffit, comme dans le jeu <i>Diablo 3</i>.
    </p>

    <img src="assets/diablo-3-sound-options.jpg" alt=""/>


  </div>
</section>
