:host {
  display: flex;
  width: 100%;
  height: 100%;
}

@media all and (max-width: 26.3rem) {
  img {
    width: 100%;
  }

  iframe {
    width: 100%;
    height: 200px;
  }
}

@media all and (min-width: 26.3rem) and (max-width: 62rem) {
  img {
    width: 75%;
  }

  iframe {
    width: 100%;
    height: 400px;
  }
}

@media all and (max-width: 62rem) {
  .sous-navigation {
    transition: 0.3s;
    width: 0;
    overflow: hidden;
    display: none;
  }

  .collapsed {
    left: 0;
    display: block;
  }

  .consoles {
    margin: 0 10px !important;
  }

  h1 {
    text-align: center;
    font-size: 1.9rem;
  }

  /* Carousel */
  :host ::ng-deep app-mycarousel .slide {
    width: 100%;
  }
  /**/

  .main-text-content p {
    text-align: center;
    font-size: 1rem;
  }

  .main-text-properties {
    width: 75%;
    margin: 20px auto;
    font-size: 0.9rem;
  }

  .main-text-video > span {
    margin-bottom: 5px;
    font-size: 1.25rem;
    text-align: center;
  }
}

@media all and (min-width: 62rem) {
  .sous-navigation {
    width: 18% !important;
  }

  .navbar-toggler {
    display: none;
  }

  /* Carousel */
  :host ::ng-deep app-mycarousel .slide {
    width: 60%;
  }
  /**/
  img {
    width: 50%;
  }

  .main-text-video > span {
    margin-bottom: 10px;
    font-size: 2.5rem;
  }

  iframe {
    width: 750px;
    height: 450px;
  }
}

.content {
  width: 100%;
  height: 100%;
}

.mat-divider{
  width: 80%;
  border-color : rgba(110, 110, 110, 0.747);
  margin-left: auto;
  margin-right: auto;
}

.nav-button{
  height: 100px;
  width: 200px;
  color: white;
}

.consoles {
  margin-left: 20px;
}

.navbar-toggler {
  background-color: #333333;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.navbar-toggler span {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.main-text-image {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.main-text-video {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-text-video > p {
  text-align: center;
}

mat-panel-title {
  flex-grow: unset;
  margin: auto;
}
