<!-- Lien d evitement -->
<a  class="evitement" href="javascript:void(0);" (click)='skipToMainContent()'>Aller au contenu</a>

<!-- Toolbar -->
<header role="banner">
  <nav role="navigation" class="toolbar navbar navbar-dark navbar-expand-lg" aria-label="Menu de navigation">
    <a class="accueil-link" aria-label="Retour à l'accueil" routerLink="/accueil">
      <img
      width="40"
      alt="Logo accessibilité (retour à l'accueil)"
      src="assets/logo.png"
      id="logo"
      />
      <span id="titre">{{title}}</span>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Ouvrir le menu de navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-list">
        <li>
          <a class="nav-link" #rlaAccueil="routerLinkActive" routerLinkActive="active" aria-label="Page d'accueil" routerLink="/accueil">
            <strong *ngIf="rlaAccueil.isActive">Accueil</strong>
            <span *ngIf="!rlaAccueil.isActive">Accueil</span>
        </a>
      </li>
      <li>
        <a class="nav-link" #rlaPeriph="routerLinkActive" routerLinkActive="active"  aria-label="Accessibilité des périphériques" routerLink="/peripheriques">
          <strong *ngIf="rlaPeriph.isActive">Périphériques</strong>
          <span *ngIf="!rlaPeriph.isActive">Périphériques</span>
        </a>
      </li>
      <li>
        <a class="nav-link" #rlaConsoles="routerLinkActive" routerLinkActive="active" aria-label="Accessibilité dans les consoles"  routerLink="/consoles">
          <strong *ngIf="rlaConsoles.isActive">Consoles</strong>
          <span *ngIf="!rlaConsoles.isActive">Consoles</span>
        </a>
      </li>
      <li>
        <a class="nav-link" #rlaJeux="routerLinkActive" routerLinkActive="active" aria-label="Accessibilité dans les jeux" routerLink="/jeux">
          <strong *ngIf="rlaJeux.isActive">Jeux</strong>
          <span *ngIf="!rlaJeux.isActive">Jeux</span>
        </a>
      </li>
      <li>
        <a class="nav-link" #rlaR="routerLinkActive" routerLinkActive="active" aria-label="Recommandations d'accessiblité pour les jeux vidéos" routerLink="/recommandations">
          <strong *ngIf="rlaR.isActive">Recommandations</strong>
          <span *ngIf="!rlaR.isActive">Recommandations</span>
        </a>
      </li>
      <li>
        <a class="nav-link" #rlaAvis="routerLinkActive" routerLinkActive="active" routerLink="/avis">
          <strong *ngIf="rlaAvis.isActive">Donnez nous votre avis !</strong>
          <span *ngIf="!rlaAvis.isActive">Donnez nous votre avis !</span>
        </a>
      </li>
    </ul>
    </div>
  </nav>
</header>

<main class="content" role="main">
  <a id="contenu" aria-hidden="true" #content tabindex="-1"></a>
<router-outlet></router-outlet>
</main>

<footer role="contentinfo" class="fixed-bottom">

  <div class="footer-bottom">
    <ul class="footer-list">
      <li><a routerLink="/plan" class="menu-item">Plan du site</a> </li>
      <li><a routerLink="/sources">Sources</a></li>
    </ul>
  </div>

</footer>
