<div id="avisCard" #formCard class="card border" >
  <div class="card-header">Votre avis compte !</div>
  <div class="card-body">
    <p class="font-italic text-center">Les champs suivi d'une * sont obligatoires</p>
    <form novalidate #f="ngForm">
        <label id="design" class="col-sm-8 champ-title">Note du desgin du site <br class="mobile-line-break"/>(entre 0 et 5) *</label>
        <mat-radio-group
          aria-describedby="design-error"
          aria-labelledby="design"
          [attr.aria-invalid]="design == undefined"
          required
          name="design"
          #design="ngModel"
          class="radio"
          [(ngModel)]="designNote"
          (ngModelChange)="designUpdate()">
          <mat-radio-button role="radio" *ngFor="let value of values" [id]="value"  [value]="value" [tabindex]="value">
            <label class="label" [for]="value">{{value}}</label>
          </mat-radio-button>
        </mat-radio-group>
        <p *ngIf="designNoteError" [class.errors]="designNote == undefined" id="design-error">Veuillez renseigner une note pour le design du site</p>

        <label id="accessibilite" class="col-sm-8 champ-title">Note de l'accessibilité du site <br class="mobile-line-break"/>(entre 0 et 5) *</label>
        <mat-radio-group
          aria-describedby="accessibility-error"
          aria-labelledby="accessibilite"
          [attr.aria-invalid]="accessibility == undefined"
          required
          #accessibility="ngModel"
          name="accessibility"
          class="radio"
          [(ngModel)]="accessibilityNote"
          (ngModelChange)="accessibilityUpdate()">
          <mat-radio-button [id]="value+6" *ngFor="let value of values" [value]="value">
            <label class="label" [for]="value+6">{{value}}</label>
          </mat-radio-button>
        </mat-radio-group>

        <p *ngIf="accessibilityNoteError" [class.errors]="accessibilityNote == undefined" id="accessibility-error">Veuillez renseigner une note pour l'accessibilité du site</p>

      <div class="submit form-group">
        <button type="submit" class="avis-button btn" (click)="send()">Envoyer votre avis</button>
      </div>
    </form>

  </div>
</div>


<div #confirmationMessage id="confirmation-message" [hidden]=true>
  <span class="row message-text">Merci votre opinion nous est d'une grande aide !</span>
  <a class="row confirm-button" mat-raised-button routerLink="/" >Revenir à la page d'acceuil</a>
</div>
