<section>
  <h1>L'accessibilité numérique dans la vie quotidienne pour les jeux vidéos</h1>
  <h2>Qu'est ce que l'accessibilité numérique ?</h2>
  <div class="main-text-content">
    <p>
      L'accessibilité numérique se définit par le fait de permettre à toute personne, quelque soit sa situation, d'accéder à tout support numérique à sa disposition.<br/>
      Cela s'applique à tous types de supports (télévision, radios, téléphones, sites webs, ...).<br/>
      De ce fait, l'accès à une information numérique, se doit de cibler toute la population et non pas un public ciblé,<br/>
      toute personne doit disposer d'un moyen de consulter l'information, peu importe sa situation.<br/><br/>

      Le W3C (World Wide Web Consortium) à établi des normes d'accessibilités concernant les supports numériques, pour chaque type de handicap.<br/>
    </p>
  </div>
  <h2>Le contexte des jeux vidéos</h2>
  <div class="main-text-content">
    <p>
      Les jeux vidéos sont un centre d'intérêt à l'échelle mondiale qui occupe une place importante.<br/>
      En effet, <b>3.1 milliards</b> de personnes se considèrent comme des joueurs réguliers selon une récente étude de DFC Intelligence.<br/><br/>

      Les jeux vidéos sont présents via de nombreux supports différents (ex: PC, Consoles de salon, Consoles portables, ...) proposant chacun leur propre mode d'interaction.<br/>
      Ce mode d'interaction se définit à la fois par le périphérique d'interaction utilisé, et par le paramétrage du support en question.<br/><br/>

      La diversité s'étend encore plus du fait que chaque jeu propose ses spécificités en termes de personnalisagtion du gameplay pour convenir à chacun.<br/><br/>

      Avec autant de diversité et avec un nombre de joueurs considérable, il est essentiel que le domaine des jeux vidéos soit accessibles à tous dans la vie de tous les jours.<br/>
      Notre site à pour but d'étudier les différentes pratiques à mettre en oeuvre afin de rendre cet univers accessible à l'ensemble de la population.<br/><br/>

      Pour faire cette édute, nous allons étudier l'accessibilité numérique dans les jeux vidéos en allant du physique au numérique :
    </p>
    <div class="main-text-properties">
      <ul>
        <li> L'accessibilité des dispositifs d'interaction (périphériques) </li>
        <li> L'accessibilité du support permettant de jouer (consoles) </li>
        <li> L'accessibilité du contenu auquel on joue (jeux)</li>
      </ul>
    </div>
    <p>Nous présentons égalements diverses recommandations en termes d'accessibilité numérique</p>
  </div>
</section>
