<h1>Recommandations dans le domaine du jeu vidéo</h1>

<div class="intro">
  <p>
  De plus en plus, les éditeurs et constructeurs de jeux vidéo commencent à suivre des recommandations
  ainsi que des guides de bonnes pratiques d’accessibilité.
  C’est le cas par exemple de Microsoft et Sony qui mettent à dispositions des développeurs,
  des guides avec une liste de recommandations.
  </p>
  <p>
    Aujourd’hui pour pouvoir publier un jeu sur console,
    il n’existe malheureusement aucun critère relatif à l’accessibilité mais un certain nombre
    de recommandations sont de plus en plus mises en avant.
    <br/>
    Voici quelques exemples mais la liste n'est pas exhaustive.
  </p>
 </div>

<section class="container-fluid content">
  <div class="card" style="width: 22rem;">
    <div class="card-body">
      <h2 class="card-title">
        <a [routerLink]="['type-recommandation']" [queryParams]="{ type: 'Général' }" class="title-link">Général</a>
      </h2>
      <p class="card-text">Recommandations générales sur les jeux/consoles</p>
      <div class="link-container">
        <a [routerLink]="['type-recommandation']" aria-label="Consulter : Recommandations générales" [queryParams]="{ type: 'Général' }" class="card-link">Consulter</a>
      </div>
    </div>
  </div>

  <div class="card" style="width: 22rem;">
    <div class="card-body">
      <h2 class="card-title">
        <a [routerLink]="['type-recommandation']" [queryParams]="{ type: 'Moteur' }" class="title-link">Moteur</a>
      </h2>
      <p class="card-text">Recommandations liées aux contrôles des périphériques ainsi que la mobilité</p>
      <div class="link-container">
        <a [routerLink]="['type-recommandation']" aria-label="Consulter : Recommandations motrices" [queryParams]="{ type: 'Moteur' }" class="card-link">Consulter</a>
      </div>
    </div>
  </div>

  <div class="card" style="width: 22rem;">
    <div class="card-body">
      <h2 class="card-title">
        <a [routerLink]="['type-recommandation']" [queryParams]="{ type: 'Cognitive' }" class="title-link">Cognitive</a>
      </h2>
      <p class="card-text">Recommandations liées à la mémoire et au traitement des informations</p>
      <div class="link-container">
        <a [routerLink]="['type-recommandation']" aria-label="Consulter : Recommandations cognitives" [queryParams]="{ type: 'Cognitive' }" class="card-link">Consulter</a>
      </div>
    </div>
  </div>

  <div class="card" style="width: 22rem;">
    <div class="card-body">
      <h2 class="card-title">
        <a [routerLink]="['type-recommandation']" [queryParams]="{ type: 'Vision' }" class="title-link">Vision</a>
      </h2>
      <p class="card-text">Recommandations liés à l'affichage</p>
      <div class="link-container">
        <a [routerLink]="['type-recommandation']" aria-label="Consulter : Recommandations visuelles" [queryParams]="{ type: 'Vision' }" class="card-link">Consulter</a>
      </div>
    </div>
  </div>

  <div class="card" style="width: 22rem;">
    <div class="card-body">
      <h2 class="card-title">
        <a [routerLink]="['type-recommandation']" [queryParams]="{ type: 'Son' }" class="title-link">Son</a>
      </h2>
      <p class="card-text">Recommandations liés aux conversations dans un jeu et aux sous-titres</p>
      <div class="link-container">
        <a [routerLink]="['type-recommandation']" aria-label="Consulter : Recommandations auditives" [queryParams]="{ type: 'Son' }" class="card-link">Consulter</a>
      </div>
    </div>
  </div>

</section>




