<section class="content">
  <h1>Sources</h1>
  <div class="main-text-properties">
    <ul>
      <li><a href="https://techno.konbini.com/fr/gaming/handicap-voici-la-premiere-manette-entierement-controlable-par-la-bouche/" target="_blank">La première manette entièrement controlable par la bouche</a></li>
      <li><a href="https://www.presse-citron.net/la-ps5-une-perle-pour-laccessibilite-dans-le-jeu-video/" target="_blank">La PS5 : Une perle pour l’accessibilité dans le jeu vidéo</a></li>
      <li><a href="https://blog.fr.playstation.com/2020/06/10/the-last-of-us-part-ii-tout-sur-les-fonctionnalites-daccessibilite/" target="_blank">The Last of Us™ Part II : tout sur les fonctionnalités d’accessibilité</a></li>
      <li><a href="https://www.gamekult.com/actualite/handicap-et-jeu-video-en-2020-l-accessibilite-n-est-plus-une-option-3050831221.html" target="_blank">Handicap et Jeu vidéo : en 2020, l’accessibilité n’est plus une option</a></li>
      <li><a href="https://www.presse-citron.net/jeux-video/xbox/xbox-adaptive-controller/" target="_blank">Xbox Adaptive Controller</a></li>
      <li><a href="https://www.tomshardware.fr/logitech-lance-un-adaptive-gaming-kit-pour-les-joueurs-handicapes" target="_blank">Logitech lance un Adaptive Gaming Kit pour les joueurs handicapés</a></li>
      <li><a href="http://gameaccessibilityguidelines.com/full-list/" target="_blank">Game accessibility guidelines</a></li>
      <li><a href="https://www.presse-citron.net/plus-de-3-milliards-de-personnes-jouent-aux-jeux-video-dans-le-monde/" target="_blank">Plus de 3 milliards de personnes jouent aux jeux vidéo dans le monde</a></li>
    </ul>
  </div>
</section>
