<nav #navbarConsoles id="navbarConsoles" class="sous-navigation" role="navigation" arial-label="Consoles filtres">
  <div class="nav-content">
    <ul class="navigation-list">
      <li>
        <a mat-button class="nav-button" (click)="consoleChange(1)" [attr.aria-current]="activeConsole == 1 ? 'page' : false">
          <span *ngIf="activeConsole!=1">Débuts de l'accessibilité<br/> dans les consoles</span>
          <strong *ngIf="activeConsole==1" class="active">Débuts de l'accessibilité<br/> dans les consoles</strong>
        </a>
      </li>
      <mat-divider></mat-divider>
      <li>
        <a mat-button class="nav-button" (click)="consoleChange(2)" [attr.aria-current]="activeConsole == 2 ? 'page' : false">
          <span *ngIf="activeConsole!=2">L'accessibilité dans<br/> la next-gen</span>
          <strong *ngIf="activeConsole==2" class="active">L'accessibilité dans<br/> la next-gen</strong>
        </a>
      </li>
    </ul>
  </div>
</nav>

<section class="content">
  <button #navbarConsolesCollapse (click)="displayNav()" id="navbarConsolesCollapse" class="navbar-toggler" type="button" aria-controls="navbarConsoles" aria-expanded="false" aria-label="Toggle consoles navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="consoles" *ngIf="activeConsole == 1">
    <h1>L'arrivée de l'accessibilité numérique dans les consoles</h1>
    <div aria-hidden="true">
      <app-mycarousel [imagesSrc]="carousel1Src" [imagesText]="carouselAlt" [labels]="carousel1Labels"></app-mycarousel>
    </div>

    <div class="main-text-content">
      <p>
        Les premières consoles à avoir intégré le concept d’accessibilité sont les consoles de 8ème génération,<br/>
        en particulier les consoles <b>PS4</b> et <b>XBOX ONE</b>, ainsi que la <b>Switch</b> par la suite.
      </p>
      <p>
        La <b>PS4</b> offre des paramètres en termes d’accessibilité très variés :
      </p>

      <div class="main-text-properties">
        <ul>
          <li>Configuration des touches de la manette</li>
          <li>Enonciation de texte avec réglage de la vitesse et du volume de la voix</li>
          <li>Modification du texte (gras, agrandissement)</li>
          <li>Modification du contraste</li>
          <li>Commande vocale</li>
        </ul>
      </div>

      <p>
        Du côté de la <b>XBOX ONE</b>, les fonctionnalités sont similaire à la PS4, à l’exceptions de quelques points :
      </p>

      <div class="main-text-properties">
        <ul>
          <li>Mode copilote : ce mode permet de séparer le fonctionnement d’une manette dans deux manettes distinctes</li>
          <li>Une compatibilité du clavier et de la souris</li>
        </ul>
      </div>

      <p>
        Au niveau de la <b>Switch</b>, seul une reconfiguration des touches est proposée
      </p>
    </div>
  </div>


  <div class="consoles" *ngIf="activeConsole == 2">
    <h1>L'évolution de l'accessibilité numérique dans les consoles next-gen</h1>
    <div aria-hidden="true">
      <app-mycarousel [imagesSrc]="carousel2Src" [imagesText]="carouselAlt" [labels]="carousel2Labels"></app-mycarousel>
    </div>

    <div class="main-text-content">
      <p>
        Avec la très récente sortie des consoles de nouvelle génération, la <b>PS5</b> et la <b>XBOX Series X/S</b><br/>
        proposent des options d'accessibilités plus complètes que leur prédecesseurs
      </p>
      <p>
        La <b>PS5</b> offre des améliorations sur les fonctionnalités d'accessibilité de la PS4, elle ajoute également de nouvelles fonctionnalités :
      </p>

      <div class="main-text-properties">
        <ul>
          <li>Configuration de la force de pression, pour les gachettes adaptatives de la manette</li>
          <li>Transcription de chat (texte et audio)</li>
          <li>Dictée vocale</li>
        </ul>
      </div>

      <p>
        Du côté de la <b>XBOX Series X/S</b>, on peut noter un ajout particulier car ce dernier est physique et non numérique :
      </p>

      <div class="main-text-properties">
        <ul>
          <li>Ajout d'indicateurs tactiles sur les ports de la console pour faciliter son installation par les personnes aveugles et malvoyantes</li>
        </ul>
      </div>
    </div>
  </div>
</section>
