<nav class="sous-navigation" role="navigation" arial-label="Periphériques filtres">

  <div class="nav-content">
    <ul>
      <li>
        <button mat-button class="nav-button">Peripherique 1</button>
      </li>
      <mat-divider></mat-divider>
      <li>
        <button mat-button class="nav-button">Peripherique 2</button>
      </li>
      <mat-divider></mat-divider>
      <li>
        <button mat-button class="nav-button">Peripherique 3</button>
      </li>
    </ul>
  </div>

</nav>

<section class="content">

  <div class="peripherique">
    <h1>Manette Ps4 pour un usage à une seule main (gauche)</h1>

    <!--<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false" aria-roledescription="carousel" aria-label="Vues de la manette à usage d'une seul main">
      <ol class="carousel-indicators" role="tablist">
        <li role="tab" tabindex="0" aria-selected="true" aria-controls="panneau-1" data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li role="tab" tabindex="-1" aria-selected="false" aria-controls="panneau-2" data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active" role="tabpanel" id="panneau-1" aria-hidden="false" aria-roledescription="slide"
        aria-label="1 of 2">
          <img class="d-block w-100" src="../../assets/manette_hitclic1.PNG" alt="Manette Ps4 pour un usage à une main vue du dessus"/>
        </div>
        <div class="carousel-item" role="tabpanel" id="panneau-2" aria-hidden="true" aria-roledescription="slide"
        aria-label="2 of 2">
          <img class="d-block w-100" src="../../assets/manette_hitclic2.PNG" alt="Manette Ps4 pour un usage à une main vue du dessus"/>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev" alt="Panneau précédant">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Précédent</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" alt="Panneau suivant">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Suivant</span>
      </a>
    </div>-->

    <carousel id="peripheriquesSlide" [interval]="4500" [isAnimated]="true" [(activeSlide)]="activeSlide" [showIndicators]="false" aria-roledescription="carousel" aria-label="Vues de la manette à usage d'une seul main">
      <slide role="tabpanel" id="panneau-1" aria-hidden="!activeSlide === 0" aria-roledescription="slide" aria-label="1 of 2">
        <img class="d-block w-100" src="../../assets/manette_hitclic1.PNG" alt="Manette Ps4 pour un usage à une main vue du dessus"/>
      </slide>
      <slide role="tabpanel" id="panneau-2" aria-hidden="!activeSlide === 1" aria-roledescription="slide" aria-label="2 of 2">
        <img class="d-block w-100" src="../../assets/manette_hitclic2.PNG" alt="Manette Ps4 pour un usage à une main vue du dessous" />
      </slide>

      <ol class="carousel-indicators" role="tablist">
        <li role="tab" tabindex="activeSlide === 0 ? 0 : -1" aria-selected="activeSlide === 0" aria-controls="panneau-1"  (click)="nextSlide()" [class.active]="activeSlide === 0"></li>
        <li role="tab" tabindex="activeSlide === 1 ? 0 : -1" aria-selected="activeSlide === 1" aria-controls="panneau-2" (click)="nextSlide()" [class.active]="activeSlide === 1"></li>
      </ol>
    </carousel>

    <div class="peripherique-content">
        <p>La société HitClic créée en 2019 par David Combarieu et Théo Jordan,
          développe des solutions sur mesure à l’utilisation des différents périphériques de jeu
          pour les personnes à mobilité réduite. L'objectif principale de la société
          est de soutenir les activités de l'association en apportant une contribution matérielle.
        </p>
        <p>
          Parmi les périphériques déjà developpés par l'entreprise, on
          y trouve une adaptation d'une manette PS4 pour un usage exclusif à une seule main ( ici main gauche )

          Voici les adapaptations par rapport à une manette de PS4 classique :
        </p>

          <div class="peripherique-properties">
            <ul>
              <li> Les 4 boutons de jeu sont reportés sous la poignée gauche </li>
              <li> Les boutons R1 et R2 sont reportés sur le dessus </li>
              <li> Le joystick droit est reporté sous la manette pour l'utiliser à l'aide d'appui sur le genou</li>
            </ul>
          </div>
    </div>
  </div>
</section>




