.content {
  height: 100%;
  display: flex;
}

:host {
  width: 100%;
  height: 100%;
}

.peripherique-properties{
  width: 40%;
  border-left : 3px solid #a338c4;
  margin : 40px auto auto auto;
  padding-left: 20px;
}

.peripherique{
  margin-left:20px;
}

.peripherique-content{
  font-size: 1rem;
}

.nav-button{
  height: 100px;
  width: 200px;
  color: white;
}

.nav-button:focus{
  outline : none;
}

ul{
  list-style: none;
  padding : 0;
}

.peripherique-properties ul li {
  margin-top:20px;
}

::ng-deep .slide{
  width: 30% !important;
}

::ng-deep .carousel-control-next-icon, ::ng-deep .carousel-control-prev-icon{

  background-color: black;
}


::ng-deep carousel {
  margin-top: 5px;
  margin-bottom: 5px;
}

::ng-deep carousel > div {
  margin: auto;
}







