<nav class="sous-navigation" role="navigation" arial-label="Periphériques filtres">
  <div class="nav-content">
    <ul>
      <li>
        <button mat-button class="nav-button">Console 1</button>
      </li>
      <mat-divider></mat-divider>
      <li>
        <button mat-button class="nav-button">Console 2</button>
      </li>
      <mat-divider></mat-divider>
      <li>
        <button mat-button class="nav-button">Console 3</button>
      </li>
    </ul>
  </div>
</nav>

<section class="content">
  <div class="consoles">
    <h1>L'arrivée de l'accessibilité numérique dans les consoles</h1>
  </div>
</section>
