<nav class="sous-navigation" role="navigation" arial-label="Consoles filtres">
  <div class="nav-content">
    <ul class="navigation-list">
      <li>
        <button mat-button class="nav-button">Console 1</button>
      </li>
      <mat-divider></mat-divider>
      <li>
        <button mat-button class="nav-button">Console 2</button>
      </li>
      <mat-divider></mat-divider>
      <li>
        <button mat-button class="nav-button">Console 3</button>
      </li>
    </ul>
  </div>
</nav>

<section class="content">
  <div class="consoles">
    <h1>L'arrivée de l'accessibilité numérique dans les consoles</h1>
    <div>
        <carousel id="peripheriquesSlide" [interval]="4500" [isAnimated]="true" [(activeSlide)]="activeSlide" [showIndicators]="false" aria-roledescription="carousel" aria-label="Vues de la manette à usage d'une seul main">
          <slide role="tabpanel" id="panneau-1" aria-hidden="!activeSlide === 0" aria-roledescription="slide" aria-label="1 of 2">
            <img class="d-block w-100" src="../../assets/accessibilite_ps4_1.PNG" alt="Plusieurs options d'accessibilité pour la PS4"/>
          </slide>
          <slide role="tabpanel" id="panneau-2" aria-hidden="!activeSlide === 1" aria-roledescription="slide" aria-label="2 of 2">
            <img class="d-block w-100" src="../../assets/accessibilite_ps4_2.PNG" alt="Détails des paramètres de sous titre pour la PS4" />
          </slide>
          <slide role="tabpanel" id="panneau-3" aria-hidden="!activeSlide === 2" aria-roledescription="slide" aria-label="2 of 2">
            <img class="d-block w-100" src="../../assets/accessibilite_xboxone.jpg" alt="Plusieurs options d'accessibilité pour la XBOX One" />
          </slide>
        </carousel>

        <ol class="carousel-indicators" role="tablist">
          <li role="tab" tabindex="activeSlide === 0 ? 0 : -1" aria-selected="activeSlide === 0" aria-controls="panneau-1"  (click)="nextSlide()" [class.active]="activeSlide === 0"></li>
          <li role="tab" tabindex="activeSlide === 1 ? 0 : -1" aria-selected="activeSlide === 1" aria-controls="panneau-2" (click)="nextSlide()" [class.active]="activeSlide === 1"></li>
          <li role="tab" tabindex="activeSlide === 2 ? 0 : -1" aria-selected="activeSlide === 2" aria-controls="panneau-3" (click)="nextSlide()" [class.active]="activeSlide === 2"></li>
        </ol>
    </div>

    <div class="main-text-content">
      <p>Les premières consoles à avoir intégré le concept d’accessibilité sont les consoles de 8ème génération,<br/>
         en particulier les consoles PS4 et XBOX ONE, ainsi que la Switch par la suite.
      </p>
      <p>
        La PS4 offre des paramètres en termes d’accessibilité très variés :
      </p>

      <div class="main-text-properties">
        <ul>
          <li>Configuration des touches de la manette</li>
          <li>Enonciation de texte avec réglage de la vitesse et du volume de la voix</li>
          <li>Modification du texte (gras, agrandissement)</li>
          <li>Modification du contraste</li>
          <li>Commande vocale</li>
        </ul>
      </div>

      <p>
        Du côté de la XBOX ONE, les fonctionnalités sont similaire à la PS4, à l’exceptions de quelques points :
      </p>

      <div class="main-text-properties">
        <ul>
          <li>Mode copilote : ce mode permet de séparer le fonctionnement d’une manette dans deux manettes distinctes</li>
          <li>Une compatibilité du clavier et de la souris</li>
        </ul>
      </div>

      <p>
        Au niveau de la Switch, seul une reconfiguration des touches est proposée
      </p>
    </div>
  </div>
</section>
