:host {
  display: flex;
  width: 100%;
  height: 100%;
}

@media all and (max-width: 420px) {
  ::ng-deep .carousel-control-next-icon, ::ng-deep .carousel-control-prev-icon{
    width: 20px;
    height: 20px;
  }
}

@media all and (min-width: 421px) {
  ::ng-deep .carousel-control-next-icon, ::ng-deep .carousel-control-prev-icon{
    width: 30px;
    height: 30px;
  }
}

@media all and (max-width: 992px) {
  .sous-navigation {
    transition: 0.3s;
    width: 0;
    overflow: hidden;
  }

  .collapsed {
    left: 0;
    display: block;
  }

  .consoles {
    margin: 0 10px !important;
  }

  h1 {
    text-align: center;
    font-size: 30px;
  }

  /* Carousel */
  :host ::ng-deep .slide{
    width: 100%;
  }

  .carousel-caption {
    display: block !important;
  }
  /**/

  .main-text-content p {
    text-align: center;
    font-size: 15px;
  }

  .main-text-properties {
    width: 75%;
    margin: 20px auto;
    font-size: 14px;
  }
}

@media all and (min-width: 992px) {
  .sous-navigation {
    width: 18% !important;
  }

  .navbar-toggler {
    display: none;
  }

  /* Carousel */
  :host ::ng-deep .slide {
    width: 60%;
  }
  /**/
}

.content {
  width: 100%;
  height: 100%;
}

.mat-divider{
  width: 80%;
  border-color : rgba(110, 110, 110, 0.747);
  margin-left: auto;
  margin-right: auto;
}

.nav-button{
  height: 100px;
  width: 200px;
  color: white;
}

.consoles {
  margin-left: 20px;
}

:host ::ng-deep .slide{
  display: flex;
}

.nav-button:focus{
  outline : none;
}

::ng-deep .carousel-control-next-icon, ::ng-deep .carousel-control-prev-icon{
  background-color: #8b0ead;
}

.carousel-indicators {
  position: relative;
  width: fit-content;
  margin: 0 auto 25px;
}

::ng-deep .carousel-control-prev{
  order: 0;
  position: initial;
}
::ng-deep .carousel-control-next{
  order: 2;
  position: initial;
}

.carousel-indicators li{
  height: 4px;
  background-color: #8b0ead;
}

::ng-deep .carousel {
  margin-top: 25px;
  z-index: -1;
}

::ng-deep .carousel-inner {
  order: 1;
}

::ng-deep carousel > div {
  margin: auto;
}

.carousel-caption {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  color: #333333;
}

.carousel-caption p {
  margin: 0.5rem 0;
}

.navbar-toggler {
  background-color: #333333;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler span {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
