<section>
  <nav class="sous-navigation" role="navigation" arial-label="Periphériques filtres">

    <div class="nav-content">

      <ul>
        <li>
          <button mat-button class="nav-button">Console 1</button>
        </li>
        <mat-divider></mat-divider>
        <li>
          <button mat-button class="nav-button">Console 2</button>
        </li>
        <mat-divider></mat-divider>
        <li>
          <button mat-button class="nav-button">Console 3</button>
        </li>
      </ul>

    </div>



  </nav>
</section>
