a{
  border : 1px solid #a338c4;
  color : #a338c4;
  border-radius: 15px;
  padding : 5px 20px;
  font-weight: bold;
  transition: 0.3s;
}

@media all and (max-width: 1024px) {
  h1 {
    text-align: center;
  }
}

.intro{
  width: 90%;
  margin-top:20px;
  margin-left: 25px;
  font-size: 1.03rem;
}

h1 {
  margin-left: 20px;
}

a:hover{
  background-color:#a338c4;
  color : white;
}

.card{
  display: inline-flex;
  margin:0 20px 30px;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-text {
  margin: 0 10px 1rem;
}

.link-container{
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}

.content{
  margin-top: 50px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

