<h1>Recommandations dans le domaine du jeu vidéo</h1>

<section class="container-fluid content">
  <div class="card" style="width: 22rem;">
    <div class="card-body">
      <h2 class="card-title">Général</h2>
      <p class="card-text">Recommandations générales sur les jeux/consoles</p>
      <div class="link-container">
        <a href="#" class="card-link">En savoir plus</a>
      </div>
    </div>
  </div>

  <div class="card" style="width: 22rem;">
    <div class="card-body">
      <h2 class="card-title">Moteur</h2>
      <p class="card-text">Recommandations liées aux contôles des périphériques ainsi que la mobilité</p>
      <div class="link-container">
        <a href="#" class="card-link">En savoir plus</a>
      </div>
    </div>
  </div>

  <div class="card" style="width: 22rem;">
    <div class="card-body">
      <h2 class="card-title">Cognitive</h2>
      <p class="card-text">Recommandations liées à la mémoire et au traitement des informations</p>
      <div class="link-container">
        <a href="#" class="card-link">En savoir plus</a>
      </div>
    </div>
  </div>

  <div class="card" style="width: 22rem;">
    <div class="card-body">
      <h2 class="card-title">Vision</h2>
      <p class="card-text">Recommandations liés à l'affichage</p>
      <div class="link-container">
        <a href="#" class="card-link">En savoir plus</a>
      </div>
    </div>
  </div>

  <div class="card" style="width: 22rem;">
    <div class="card-body">
      <h2 class="card-title">Son</h2>
      <p class="card-text">Recommandations liés aux conversations dans un jeu et aux sous-titres</p>
      <div class="link-container">
        <a href="#" class="card-link">En savoir plus</a>
      </div>
    </div>
  </div>

</section>



